*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.col-3{
    background-color:#ECF0F3;
    flex: 0 0 15%;
    max-width: 15%;
    
}

.col-9{
    background-color:#CCE7E7;
    flex: 0 0 85%;
    flex: 0 0 85%;
    max-width: 85%;
}

.nav-pills .nav-link{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 15px;
}

.ex .tab-content{
    margin: 30px 15px;
}

input{
    outline: none;
    padding: 7px 20px;
    border-radius: 15px;
    border: none;
    font-size: 14px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.resual--css{
    background-color: #ECF0F3;
}

i{
    color: #FDD641;
    margin-right: 10px;
}